body {
  background-color: #212121;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 82px;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 48px;
}

.index-hero {
  height: 700px;
  width: auto;
  background-image: url(/medias/bg1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #212121;
}

blockquote {
  padding-bottom: 20px;
}

.index-home-p {
  font-style: italic;
  font-size: 18px;
}

.all-button {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.all-button:hover {
  color: black;
}

/*   ABOUT ME PAGE  */

.pink-title {
  font-size: 18px;
  color: #f76b8a;
}

.about-p {
  text-align: justify;
}

.about-socials {
  padding-bottom: 30px;
}

.about-link {
  text-decoration: none;
  color: white;
}

.about-link:hover {
  color: #f76b8a;
}

.about-camera-img {
  height: 30px;
  width: auto;
}

.about-btn-wrap {
  margin-top: 50px;
}

footer {
  background-color: #2d2727;
}

li {
  list-style-type: none;
  text-align: center;
}

/*    MEDIA QUERIES INDEX  */

@media (max-width: 767px) {
  .index-hero {
    height: auto;
    width: auto;
  }

  .index-title h1,
  h2 {
    font-size: 24px;
  }
  .index-title p {
    font-size: 12px;
  }

  blockquote {
    padding-bottom: 0;
  }

  .all-button {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 8px;
  }

  .socials {
    padding-bottom: 10px;
  }

  footer h4,
  p {
    padding-right: 0;
    text-align: center;
    font-size: 12px;
  }

  .container {
    margin: 0;
  }
}

/*    MEDIA QUERIES ABOUT ME  */

@media (max-width: 1202px) {
  .index-title h1 {
    font-size: 24px;
    letter-spacing: 0.2rem;
  }

  .about-img-camera p {
    font-size: 12px;

    padding: 0;
  }

  .about-btn-wrap {
    margin-top: 20px;
  }

  .all-button {
    padding: 12px 30px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 8px;
    margin-bottom: 20px;
  }
}
