body {
  background-color: #212121;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 82px;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 48px;
}

.home-p {
  font-style: italic;
  font-size: 18px;
}

.hero-button {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 15px 25px;
  border: 1px solid white;
  border-radius: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.hero-button:hover {
  color: black;
}

@media (max-width: 652px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }

  blockquote {
    font-size: 8px;
  }
  .hero-button {
    padding: 20px;
    font-size: 12px;
  }
}

.about-hero {
  height: 700px;
  width: auto;
  background-image: url(/medias/bg1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #212121;
}

.camera {
  height: 30px;
  width: auto;
}

.pink-title {
  font-size: 18px;
  color: #f76b8a;
}

.contact-a {
  text-decoration: none;
  color: white;
}

.contact-a:hover {
  color: #f76b8a;
}
/* font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif;*/
